html {
    scroll-behavior: smooth;
  }

body {
    display: grid;
    grid-template-columns: auto 1020px auto;
    grid-template-rows: 600px 620px 260px 550px 140px;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header{
    grid-column: 1 / 4;
    grid-row: 1;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    background: url(Images/HeaderFront.jpg);
    background-size: cover;
}

#logo {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin-left: 80px;
    margin-top: 10px;
}

#topBar{
    position: sticky;
    top: 0;
    background-color: rgba(34, 34, 34, 0.9);
    grid-column: 1 / 4;
    grid-row: 1;
    height: 60px;
}

nav{
    margin-right: 40px;
    margin-top: -65px;
}

nav a{
    padding-right: 23px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    float: right;
    text-decoration: none;
}

nav a:hover { 
    color: #c9c9c9;
}

.introText {
    color: white;
    width: 535px;
    height: 600px;
    font-weight: bold;
    margin-left: 300px;
    margin-top: 220px;
}

.introText h1{
    font-size: 38px;
}

.introText p{
    margin-bottom: 90px;
}

.button{
    background-color: #FFF173;
	color: black;
    font-weight: bold;
	cursor: pointer;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
}

.button:hover{
    background-color: #e0d463;
}

.gruppe {
    grid-column: 1 / 4;
    grid-row: 2;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}

.overskrift {
    font-size: 38px;
}

.gruppe article {
    display: inline-grid;
    margin-left: 50px;
    margin-right: 50px;
}

.gruppe img{
    margin-top: 30px;
    width: 200px;
    margin-left: 30px;
}

.gruppe article h1 {
    font-size: 30px;
}

.gruppe p {
    font-weight: bold;
    color: rgb(77, 77, 77);
    margin-top: -20px;
}

.repo{
    grid-row: 3;
    grid-column: 1 / 4;
    background-color: #7246AA;
}

.repo h1{
    color: white;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 420px;
    margin-bottom: 70px;
}

.repo .button {
    margin-left: 420px;
}

#github {
    width: 300px;
    filter: invert();
    float: right;
    margin-top: -120px;
    margin-right: 440px;
}

.content{
    grid-column: 1 / 4;
    grid-row: 4;
}

#beskrivelse {
    display: inline-grid;
    width: 400px;
    margin-left: 420px;
    margin-top: 140px;
    float: left;
}

.content article{
    display: inline-grid;
    width: 490px;
    margin-left: 40px;
}

.content h1{
    font-size: 20px;
    margin-top: 140px;
}

.content p{
    font-size: 18px;
}

footer {
    display: grid;
    background-color: #434343;
    grid-column: 1 / 4;
    grid-row: 5;
}

#footerlogo{
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}

#linkSection{
    margin-top: 15px;
    grid-column: 4;
    display: grid;
    grid-template-columns: 150px 200px 150px;
    justify-content: right;
    line-height: 25px;
}


footer a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 12px;
}

#copyright{
    grid-column: 1 / 5;
    display: inline-grid;
    color: white;
    margin-top: -8px;
    justify-content: center;
    font-weight: 100;
    font-size: 11px;
}